{% extends "policies/policy.njk" %}
{% block policy_content %}
<h1 class="govuk-heading-l">{{ policy_title }}</h1>
<p class="govuk-body">This page shows TLS/SSL configurations for load balancers grouped by team.</p>
{% if data %}
    <p class="govuk-body">
        <strong>Jump to team:</strong>
        {% for teamData in data %}
            <a class="govuk-link" href="#team-{{ loop.index }}">{{ teamData.team }}</a>{% if not loop.last %} | {% endif %}
        {% endfor %}
    </p>
    {% for teamData in data %}
        <h2 class="govuk-heading-m" id="team-{{ loop.index }}">{{ teamData.team }}</h2>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">TLS/SSL Policy</th>
                    <th class="govuk-table__header">Count</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                {% for tlsVersion in teamData.tlsVersions %}
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            {% if tlsVersion.version == 'NO CERTS' %}
                                <strong>{{ tlsVersion.version }}</strong>
                            {% else %}
                                {{ tlsVersion.version }}
                            {% endif %}
                        </td>
                        <td class="govuk-table__cell">{{ tlsVersion.count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% else %}
    <p class="govuk-body">No load balancers with TLS/SSL configurations found.</p>
{% endif %}
{% endblock %}