{% extends "policies/policy.njk" %}
{% block policy_content %}
<h1 class="govuk-heading-l">{{ policy_title }}</h1>
<p class="govuk-body">This page shows Auto Scaling Group dimension configurations (Min/Max/Desired) grouped by team.</p>
{% if data %}
    {% for teamData in data %}
        <h2 class="govuk-heading-m">{{ teamData.team }}</h2>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Min Size</th>
                    <th class="govuk-table__header">Max Size</th>
                    <th class="govuk-table__header">Desired Capacity</th>
                    <th class="govuk-table__header">Count</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                {% for dimension in teamData.dimensions %}
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">{{ dimension.min }}</td>
                        <td class="govuk-table__cell">{{ dimension.max }}</td>
                        <td class="govuk-table__cell">{{ dimension.desired }}</td>
                        <td class="govuk-table__cell">{{ dimension.count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% else %}
    <p class="govuk-body">No Auto Scaling Groups found.</p>
{% endif %}
{% endblock %}