{% extends "policies/policy.njk" %}

{% block policy_content %}
<h1 class="govuk-heading-l">{{ policy_title }}</h1>
<p class="govuk-body">This page shows the age distribution of KMS keys grouped by team.</p>

{% if data %}
    {% for teamData in data %}
        <h2 class="govuk-heading-m">{{ teamData.team }}</h2>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Age Range</th>
                    <th class="govuk-table__header">Count</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                {% for ageBucket in teamData.ageBuckets %}
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">{{ ageBucket.bucket }}</td>
                        <td class="govuk-table__cell">{{ ageBucket.count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% else %}
    <p class="govuk-body">No KMS keys found.</p>
{% endif %}
{% endblock %}