{% extends "govuk/template.njk" %}
 
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "govuk/components/header/macro.njk" import govukHeader %}

{# Set custom container width following GOV.UK Design System pattern #}
{% set containerClasses = "app-width-container" %}
 
{% block head %}
  <link rel="stylesheet" href="/stylesheets/govuk-frontend.min.css">
  <style>
    /* Custom width container following GOV.UK Design System guidance */
    .app-width-container {
      max-width: 1400px; /* Expanded from default 1020px for better data table viewing */
      margin: 0 auto;
      padding: 0 15px;
    }
    
    /* Responsive padding for mobile devices */
    @media (min-width: 40.0625em) {
      .app-width-container {
        padding: 0 30px;
      }
    }
    
    /* Optimize tables for wider layout */
    .govuk-table {
      font-size: 14px;
    }
    
    /* Adjust grid proportions for data-heavy layouts */
    @media (min-width: 40.0625em) {
      .govuk-grid-column-two-thirds {
        width: 75%;
      }
      
      .govuk-grid-column-one-third {
        width: 25%;
      }
    }
    
    /* Align header and navigation with custom container width */
    .govuk-header__container,
    .govuk-service-navigation__container,
    .govuk-service-navigation__wrapper,
    .govuk-service-navigation .govuk-width-container {
      max-width: 1400px;
      margin: 0 auto;
      padding-left: 15px;
      padding-right: 15px;
    }
    
    @media (min-width: 40.0625em) {
      .govuk-header__container,
      .govuk-service-navigation__container,
      .govuk-service-navigation__wrapper,
      .govuk-service-navigation .govuk-width-container {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
    
  </style>
{% endblock %}
 
{% block header %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
 
{{ govukHeader({
  classes: "govuk-header--full-width-border"
}) }}
{{ govukServiceNavigation({
  serviceName: "Platform Policies and Standards",
  serviceUrl: "#",
  navigation: [
    {
      href: "#",
      text: "Compliance Reports",
      active: true
    },
    {
      href: "#",
      text: "Policies"
    }
  ]
}) }}
 
{% endblock %}
 
 
{% block content %}
  <h1 class="govuk-heading-xl">Default page template</h1>
{% endblock %}
 
{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script type="module" src="/javascripts/govuk-frontend.min.js"></script>
  <script type="module">
    import { initAll } from '/javascripts/govuk-frontend.min.js'
    initAll()
  </script>
{% endblock %}
