{% extends "policies/policy.njk" %}
 
{% block policy_content %}
    <h1 class="govuk-heading-l">Tagging Policy - Services Overview</h1>
    <p class="govuk-body">This page shows tagging compliance by service.</p>
{% endblock %}
