{% extends "policies/policy.njk" %}
 
{% block policy_content %}
<h1 class="govuk-heading-l">{{ policy_title }} - Teams Overview</h1>
<p class="govuk-body">This page shows the number of resources with more than one missing mandatory tag, grouped by team name.</p>
 
{% if data %}
    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header">Team</th>
                <th class="govuk-table__header">Count of Resources with Missing Tags</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            {% for item in data %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{ item.team }}</td>
                    <td class="govuk-table__cell">{{ item.resourcesCount }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p class="govuk-body">No data available for the latest day.</p>
{% endif %}
{% endblock %}
